<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.timeplanner.mapper.TaskMapper">
    <resultMap id="TaskResultMap" type="org.example.timeplanner.pojo.entity.Task">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="isCompleted" column="is_complete"/>
    </resultMap>

    <select id="getAll" resultMap="TaskResultMap">
        SELECT * FROM Tasks;
    </select>

    <select id="getById" parameterType="int" resultMap="TaskResultMap">
        SELECT * FROM Tasks WHERE id = #{id};
    </select>

    <select id="getTasksByLabel" parameterType="int" resultMap="TaskResultMap">
        SELECT * FROM Tasks WHERE id IN (SELECT task_id FROM Labeling WHERE label_id = #{labelId});
    </select>

    <select id="getTasksByColumn" parameterType="int" resultMap="TaskResultMap">
        SELECT * FROM Tasks WHERE id IN (SELECT task_id FROM Belong_to_columns WHERE column_id = #{ColumnId});
    </select>

    <select id="getByTimeBox" parameterType="int" resultMap="TaskResultMap">
        SELECT * FROM Tasks WHERE id IN (SELECT task_id FROM Time_giving WHERE time_box_id = #{timeBoxId});
    </select>

    <insert id="addTask" parameterType="org.example.timeplanner.pojo.entity.Task" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Tasks (name, description, is_complete) VALUES (#{name}, #{description}, #{isCompleted});
    </insert>

    <insert id="initTask" parameterType="org.example.timeplanner.pojo.entity.Task">
        INSERT INTO task_relation (ancestor, descendant, depth) VALUES (#{id}, #{id}, 0);
    </insert>

    <insert id="bindSubTask" parameterType="map">
        INSERT INTO Task_relation (ancestor, descendant, depth) VALUES (#{parentTaskId}, #{childTaskId}, #{depth})
    </insert>

    <update id="updateTask">
        UPDATE Tasks SET name = #{name}, description = #{description}, is_complete = #{isCompleted} WHERE id = #{id};
    </update>

    <delete id="deleteTask" parameterType="int">
        DELETE FROM Tasks WHERE id = #{id};
    </delete>

    <select id="getSubTasks" parameterType="int" resultMap="TaskResultMap">
        SELECT * FROM task_relation WHERE ancestor = #{taskId} AND depth = 1
    </select>

    <select id="getParentTask" parameterType="int" resultMap="TaskResultMap">
        SELECT * FROM task_relation WHERE descendant = #{taskId} AND depth = 1
    </select>

    <!-- 列表视图 -->
    <select id="listTasks" resultType="org.example.timeplanner.pojo.entity.Task">
        SELECT * FROM Tasks
        <where>
            <if test="label != null">
                label = #{label}
            </if>
        </where>
        <choose>
            <when test="sortBy == 'time'">
                ORDER BY createTime
            </when>
            <when test="sortBy == 'alphabet'">
                ORDER BY name
            </when>
            <when test="sortBy == 'labelAlphabet'">
                ORDER BY label
            </when>
        </choose>
    </select>

    <!-- 看板视图 -->
    <select id="tasksByColumn" resultType="org.example.timeplanner.pojo.entity.Task">
        SELECT * FROM Tasks
        ORDER BY columnId,
        <choose>
            <when test="sortBy == 'time'">
                createTime
            </when>
            <when test="sortBy == 'alphabet'">
                name
            </when>
            <when test="sortBy == 'labelAlphabet'">
                label
            </when>
        </choose>
    </select>

</mapper>